.App {
  display: flex;
  flex-direction: row;
  /* text-align: center; */
  /* width: 100%; */
  align-items: stretch;
    text-align: center;
    width: 100%;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}